@font-face {
    font-family: 'Comic Sans';
    src: url('../fonts/comic.ttf');
  }
  
  @font-face {
    font-family: 'Comic Sans';
    font-weight: bold;
    src: url('../fonts/comicbd.ttf');
  }
  
  @font-face {
    font-family: 'Comic Sans';
    font-style: italic;
    src: url('../fonts/comici.ttf');
  }
  
  @font-face {
    font-family: 'Comic Sans';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/comicz.ttf');
  }
  *{
    font-family: 'Comic Sans', cursive;
}