<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header-error.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <img src="/img/svg/boat.svg" style="height:calc(24em); float: left;">
            <h2>Error 404- Not Found</h2>
            <p>The page you're looking for doesn't exist, has been moved, or is unavailable at this time.</p>
            <p><button class="linkbutton" onclick="history.back()">Go Back</button></p>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
